html, body, h1 ,p {
    padding: 0;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body {
    width: 100%;
}

.top {
    background-color: black;
    padding: 10px;
    color: white;
    
}
.container {
    width: 1200px;
    margin: 0 auto;
    display: flex;
}
.top .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.top .container .list ul{
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 10px;
}
.top .container .list ul li a{
    text-decoration: none;
    color: white;
}
.top .container .social {
    display: flex
}
.top .container .social ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 10px;
}
.top .container .social ul li a {
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    width: 30px;
    height: 30px;
    font-size: 14px;
    border-radius: 50%;
   
}
.top .container .social ul li .facebook {
    background-color: #1877F2;
}
.top .container .social ul li .instagram {
    background-color: #C32AA3;
}
.top .container .social ul li .twitter{
    background-color: #03A5F0;
}
.top .container .social ul li .linkedin{
    background-color: #0A66C2;
}
.top .container .social ul li .youtube{
    background-color: #FF0000;
}
.top .container .social ul li .pinterest{
    background-color: #BD081C;
}

.container .menu {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.container .menu .logo img {
    width: auto;
    height: 30px;
}
.container .menu .list ul{
    display: flex;
    gap: 15px;
    list-style: none;
}
.container .menu .list ul li a {
    text-decoration: none;
    color: black;
    font: 16px ;
}
.container .menu .search{
    display: flex;
    align-items: center;
}
.container .menu .search input {
    background-color: black;  
    padding: 10px 15px;
    border-radius: 20px 0 0 20px;
    width: 200px;
    justify-content: center;
    align-self: center;
}
.container .menu .search i {
    width: 20px;
    background-color: black;
    color: white;
    padding: 9px 15px;
    border-radius: 0 20px 20px 0;
    font-size: 17px;
    justify-content: center;
    align-self: center;
}